countries.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT countries (country+)>
<!ELEMENT country (#PCDATA | language | city)*>
<!ELEMENT language (#PCDATA)*>
<!ELEMENT city (#PCDATA| name| population)*>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
<!-- Attributes of country -->
<!ATTLIST country name CDATA "">
<!ATTLIST country population CDATA "0">
<!ATTLIST country area CDATA "0">
<!-- Attributes of language -->
<!ATTLIST language percentage CDATA "0">